html, body{
width: 100%;
height: 100%;
padding: 0;
margin: 0;
font-family: 'Roboto', sans-serif;
}
nav{
  background: rgba(8,25,45,1);
  width: 100%;
  height: 55px;
}
body{
    background: rgba(8,25,45,.1);
}
.list{
  width: 800px;
  margin: 0 auto 40px auto;
}
h3, h1{
  width: 800px;
  margin: 20px auto 10px auto;
}

form{
  background: #fff;
  padding: 1px 40px 40px 40px;
  width: 800px;
  margin: 0 auto 80px auto;
  font-size: 14px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05), 0 6px 6px rgba(0,0,0,0.1);
}
.subText{
  margin-left: 20px;
  font-size: 14px;
  line-height: 148%;
  color: #aaa;
  margin-top: 0px;
}
input[type=text], textarea, select{
  margin-left: 20px;
  width: calc(100% - 20px);
  line-height: 148%;
  border: 1px solid #ccc;
  background: #fcfcfc;
  min-height: 40px;
  z-index: 888;
  padding: 0 8px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  font-size: 14px;
}
form h2{
  margin-top: 40px;
  padding-bottom: 8px;
  border-bottom: 1px solid #777;
}
.smallh{
  font-size: 16px;
  font-weight: 300;
}
.submit{
  padding: 15px 30px;
  background: #0DAB76;
  color: #fff;
  font-size: 16px;
  float: right;
  cursor: pointer !important;
  border-radius: 4px;
  border: none;
}
.clear{
  clear: both;
}
input[type=radio], input[type=checkbox]{
  margin-right: 8px;
  margin-left: 20px;
  margin-bottom: 8px;
}
.radioContainer{
  margin-bottom: 20px;
  color: #777;
}
textarea{
  min-height: 100px;
  overflow: auto;
  padding: 8px;
}
label{
  margin-left: 20px;
  line-height: 148%;
  pointer-events: none;
  display: block;
  font-size: 18px;
}

